<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>CoffeMasters</title>
</head>
<body>
  <header class="site-header">
    <div class="container">
      <div class="bar">
        <a href="/">
          <h1 class="no-margin">Coffe<span>Masters</span></h1>
        </a>
        <nav class="navigator">
          <a href="/productos">Productos</a>
          <a href="/categorias">Categorias</a>
          <a href="/contacto">Compras</a>
          <a href="/favoritos">Favaritos</a>
          <a href="#">Cerrar</a>
        </nav>
      </div><!--bar-->
     
    </div><!--container-->
  </header><!-- Header -->

  <div class="main-content container">
    <main class="blog">
      <h2 class="tc">Nuestro blog</h2>
      <article class="blog-entry">
        <div class="image">
          <img src="blog1.jpg" alt="Imagen Blog">
        </div><!-- imagen -->
        <div class="contain-blog">
          <h3 class="no-margin">Tipos de Granos de Cafe</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, ex, magni labore error soluta voluptate unde officiis perferendis, esse obcaecati, corporis impedit vel voluptatum dolore enim nemo maiores architecto ad.</p>
          <a href="entrada.html" class="button primary-button">Leer entrada</a>
        </div>
      </article><!-- Blog entry -->

      <article class="blog-entry">
        <div class="image">
          <img src="blog2.jpg" alt="Imagen Blog">
        </div><!-- imagen -->
        <div class="contain-blog">
          <h3 class="no-margin">3 Deliciosas Recetas Para Café</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, ex, magni labore error soluta voluptate unde officiis perferendis, esse obcaecati, corporis impedit vel voluptatum dolore enim nemo maiores architecto ad.</p>
          <a href="/entrada" class="button primary-button">Leer entrada</a>
        </div>
      </article><!-- Blog entry -->

      <article class="blog-entry">
        <div class="image">
          <img src="blog3.jpg" alt="Imagen Blog">
        </div><!-- imagen -->
        <div class="contain-blog">
          <h3 class="no-margin">Beneficios del Café</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, ex, magni labore error soluta voluptate unde officiis perferendis, esse obcaecati, corporis impedit vel voluptatum dolore enim nemo maiores architecto ad.</p>
          <a href="/entrada" class="button primary-button">Leer entrada</a>
        </div>
      </article><!-- Blog entry -->
    </main><!-- Blog -->

    <aside class="courses">
      <h2>Nuestros Cursos y Talleres</h2>
      <ul class="couses-list">
        <li class="course">
          <h4 class="no-margin">Técnicas de extracción de café.</h4>
          <p class="no-margin">Precio: <span>Gratis</span></p>
          <p class="no-margin">Cupo: <span>20</span></p>
          <a href="/entrada" class="button secundary-button">Más Información</a>
        </li>
        <li class="course">
          <h4 class="no-margin">4 Recetas de café para principiantes</h4>
          <p class="no-margin">Precio: <span>Gratis</span></p>
          <p class="no-margin">Cupo: <span>20</span></p>
          <a href="/entrada" class="button secundary-button">Más Información</a>
        </li>
      </ul>
    </aside> <!-- course -->
  </div><!-- Main Contain -->

 <h2 class="tc">Sobre Nosotros</h2>

    <div class="grid">
      <div class="columns-6">
        <img src="nosotros.jpg" alt="Imagen Nosotros">
      </div>
      <div class="columns-6">
        <p>
           Representamos al galante amante del fino arte del café. Somos una comunidad disciplente, en busca del mejor de los gustos al paladar en lo que a café se refiere. En nuestra comunidad podras documentarte respecto a todo lo que conlleva la producción de un buen café, siembra; cosecha; cuidados; preparaciones y presentaciones.
        </p>

        <p>
           Además de nuestros grupo de expertos, quienes cada día exploran en su lado del mundo para traer a ti los saberes culinarios del café, en nuestro Blog <span>DeCafe</span> te brindamos la oportunidad de publicar tus propias experiencias, comentar e interactuar directamente sobre nosotros ¿Estas dispuesto a sentarte en nuestro cafetal a degustar alguna de los frutos culinarios más exquisitos que existe? Toma asiento y conocenos a mayor profundidad aquí en nuestro pequeño Blog.
        </p>
      </div>
    </div>

  <footer class="site-footer">
    <div class="container">
      <div class="bar">
        <p class="no-margin">Coffe<span>Masters</span></p>

        <nav class="navigator">
          <a href="/nosotros">Nosotros</a>
          <a href="/cursos">Cursos</a>
          <a href="/contacto">Contacto</a>
        </nav>  
      </div>
    </div>
  </footer> <!-- footer -->

</body>
</html>